/* You can add global styles to this file, and also import other style files */
html { 
  height: 100%;
}

body {
  background: linear-gradient(to left, #7F5FF0, #3110A8);
  background-size: cov;
}

.center { 
  margin-left: auto;
  margin-right: auto;
}
