/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(243.18deg, #D8D9E8 0%, rgba(216, 217, 232, 0) 100%);
  height: 43em;

 font-family: "Montserrat", serif;
 }

