<!--- TOP BAR --->


<div id=topspace>

</div>

<div id="main">  
  
<!--- Containers for images + descriptions --->
  <div class="desc-cont">
    
    <div class="text-cont">

      <h1>   Welcome to NRS 😊</h1>
      <p>The most delicious recipes are with us!</p>
  
    </div>
    
    <img src="https://ecopeak.ru/800/600/https/pbs.twimg.com/media/EOawGWvX0AAdSR2.jpg" alt="">      

  </div>


<!--- scroll to left и выбрать рецепт --->
  <div class="chouse-cont">
      

<!--- Контейенр для рецептов с их картинками и тд. Много через ngFor --->
    <div class="rec-cont">
      
      <div>
        
      </div>
      

    </div>

  </div>

</div>

