/*background: linear-gradient(to bottom, #F7E9D9, #D7BFA6); мощьный градиент*/
img{
  position: absolute;
  max-width: 100vh;
  left: 400px;
  top:23vh;
  border-radius: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#topspace {
  height: 20vh;
}
.fa

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

  .desc-cont {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 50%;
    margin: 5vh 0;
  }

    .text-cont {
      width: 25vw;
      padding: 0 2.5%;
      text-align: center;
      mix-blend-mode: color-dodge;
      color:lightsalmon;
    }

      .text-cont h1{
        size: 15px;
      }

    /*.desc-cont img {*/
    /*  width: 40vw;*/
    /*  height: 50vh;*/

    /*}*/

  /*.chouse-cont{
    margin: 5vh 0;
    width: 90vw;
    height: 300px;
  }*/


