<!--- TOP BAR --->

<img src="https://media.istockphoto.com/id/921720226/photo/selection-assortment-of-healthy-balanced-food-for-heart-diet.jpg?s=612x612&w=0&k=20&c=sJSzH18pazV4x3-voU78cXsWCJ5IdQUVoF5gzxEspNM=">

<div id=topspace>

</div>

<div id="main">



<!--- Containers for images + descriptions --->
  <div class="desc-cont">

    <div class="text-cont">

      <h1>   Welcome to NRS 😊</h1>
      <p>Welcome to our recipe community! Here you will find a variety of delicious recipes shared by food lovers just like you. From mouth-watering appetizers to decadent desserts, we have it all. Join us and explore our collection of recipes, connect with other foodies, and share your own culinary creations. Let's cook up something amazing together!</p>
    </div>

  </div>


<!--- scroll to left и выбрать рецепт --->
  <div class="chouse-cont">


<!--- Контейенр для лучших рецептов с их картинками и тд. Много через ngFor --->
    <div class="rec-cont">

      <div>

      </div>


    </div>

  </div>

</div>

