<div class="about">
  <h2 class="page-title">О нас</h2>
  <p>Добро пожаловать на наш сайт, который создан для того, чтобы люди могли размещать свои любимые рецепты и обсуждать их с другими людьми.

    Наш сайт предоставляет удобную платформу для обмена кулинарными идеями и вдохновения на приготовление новых блюд. Вы можете найти множество рецептов на различные кухни, начиная от итальянской и французской, до восточной и азиатской.

    Однако, наш сайт не только предоставляет рецепты, но и обеспечивает возможность общения между пользователями. Мы создали форум, где вы можете задавать вопросы, делиться опытом и получать советы от других пользователей. Также, вы можете оценивать и комментировать рецепты, чтобы помочь другим людям с выбором лучших блюд.

    Мы гордимся тем, что наш сайт является местом для обмена кулинарными идеями и знаниями. Мы надеемся, что вы найдете наш сайт полезным и вдохновляющим, и что вы станете частью нашего сообщества кулинаров. Спасибо, что посетили наш сайт!
  </p>



  <a href="https://t.me/ssanzhq">
    <i class="fab fa-telegram">Санжар</i>
  </a>


  <a href="https://t.me/Numasl">
    <i class="fab fa-telegram">Нурали</i>
  </a>

  <a href="https://t.me/roma_aitzhan">
    <i class="fab fa-telegram">Рамазан</i>
  </a>

</div>
