button {
  background-color: #4CAF50; /* установить зеленый цвет фона */
  color: white; /* установить белый цвет текста */
  border: none; /* убрать границу */
  padding: 10px 20px; /* добавить отступы внутри кнопки */
  font-size: 16px; /* установить размер шрифта */
  cursor: pointer; /* установить курсор на указатель */
}

/* стиль для заголовка страницы */
.page-title {
  font-size: 28px; /* установить большой размер шрифта */
  margin-top: 50px; /* добавить отступ сверху */
  margin-bottom: 30px; /* добавить отступ снизу */
}

/* стиль для карточки рецепта */
.recipe-card {
  display: flex; /* использовать flexbox для расположения элементов в строку */
  flex-wrap: wrap; /* переносить элементы на новую строку при необходимости */
  justify-content: space-between; /* выравнивать элементы по ширине контейнера и добавлять промежутки между элементами */
  margin-bottom: 30px; /* добавить отступ между карточками */
}

/* стиль для изображения рецепта */
.recipe-image img {
  width: 250px; /* установить фиксированную ширину изображения */
  height: auto; /* автоматически подгонять высоту изображения */
  object-fit: cover; /* установить тип масштабирования изображения */
  border-radius: 5px; /* добавить скругление углов изображения */
}

/* стиль для деталей рецепта */
.recipe-details {
  flex: 1; /* занимать всю оставшуюся ширину строки */
  margin-left: 20px; /* добавить отступ слева */
}

/* стиль для заголовка рецепта */
.recipe-title {
  font-size: 24px; /* установить крупный размер шрифта */
  margin-bottom: 10px; /* добавить отступ снизу */
}

/* стиль для категории рецепта */
.recipe-category {
  font-style: italic; /* установить курсивный стиль текста */
  color: #888; /* установить серый цвет текста */
  margin-bottom: 20px; /* добавить отступ снизу */
}

/* стиль для описания рецепта */
.recipe-description {
  margin-bottom: 20px; /* добавить отступ снизу */
}

/* стиль для списка ингредиентов рецепта */
.recipe-ingredients {
  list-style: none; /* убрать маркеры списка */
  margin: 0; /* убрать отступы у списка */
  padding: 0;
}
