<div *ngIf="recipe" class="recipe-detail">
  <img [src]="recipe.image" alt="Recipe Image">
  <p>{{ recipe.name }}</p>

  <p>{{ recipe.description }}</p>
  <h3>Ingredients:</h3>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
  </ul>
  <h3>Steps:</h3>
  <ol>
    <li *ngFor="let step of recipe.steps">{{ step }}</li>
  </ol>
  <div class="comments-section">
    <h3>Comments</h3>
    <ul>
      <li *ngFor="let comment of comments">
        <p><strong>{{ comment.author }}</strong> <span>{{ comment.created_at | date:'short' }}</span></p>
        <p>{{ comment.text }}</p>
      </li>
    </ul>
    <a routerLink="/comments">Add comment</a>
  </div>

<!--  <button (click)="onUpdate()">Update Recipe</button>-->

  <!--  <a routerLink="/recipes">Back to recipes</a>-->
</div>
