<div class="top-bar">
  <a routerLink="/">Home</a>

  <a *ngIf="authService.isAuthenticated()" routerLink="/my-recipes">My recipes</a>

  <a routerLink="/recipes">Find recipes</a>

  <a routerLink="/about-us">About us</a>

  <button *ngIf="authService.isAuthenticated()" (click)="logout()">Log out</button>

<!--  <a *ngIf="authService.isAuthenticated" routerLink="/account">{{ user.name }}</a>-->

  <a *ngIf="!authService.isAuthenticated()" routerLink="/sign-up" style="float:right">Sign up</a>

  <a *ngIf="!authService.isAuthenticated()" routerLink="/sign-in" style="float:right">Sign in</a>

</div>
