.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
  position: relative;
  top: 20px;
  width: 50%;
  left: 300px;
  justify-content: center;
  align-content: center;
}

.add-recipe-form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #666666;
}

.form-title {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
  width: 100%;
}

.form-group input:hover,
.form-group select:hover,
.form-group textarea:hover {
  box-shadow: 6px 6px 0px #969696,
  -3px -3px 10px #ffffff;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form-buttons button {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form-buttons button:hover {
  box-shadow: 6px 6px 0px #969696,
  -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form-buttons button:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}

.form-group button[type="button"] {
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: whitesmoke;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form-group button[type="button"]:hover {
  background-color: whitesmoke;
  color: black;
  box-shadow: 6px 6px 0px #969696,
  -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form-group button[type="button"]:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
