<div class="add-recipe-form">
  <h2 class="form-title">Добавить рецепт</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="recipe-title">Название рецепта:</label>
      <input type="text" id="recipe-title" name="recipe-title" [(ngModel)]="recipe.title" required>
    </div>
    <div class="form-group">
      <label for="recipe-category">Категория:</label>
      <select id="recipe-category" [(ngModel)]="selectedCategory" name="recipe-category" required>
        <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="recipe-description">Описание:</label>
      <textarea id="recipe-description" name="recipe-description" [(ngModel)]="recipe.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-ingredients">Ингредиенты:</label>
      <div id="recipe-ingredients" *ngFor="let ingredient of recipe.ingredients; let i = index">
        <label>Ингредиент {{i + 1}}:</label>
        <input type="text" name="ingredient-name-{{i}}" [(ngModel)]="ingredient.name" placeholder="Название" required>
        <input type="text" name="ingredient-amount-{{i}}" [(ngModel)]="ingredient.amount" placeholder="Количество" required>
      </div>
      <button type="button" (click)="addIngredient()">Добавить ингредиент</button>
      <button *ngIf="recipe.ingredients.length > 1" type="button" (click)="removeIngredient()">Удалить ингредиент</button>
    </div>
    <div class="form-group">
      <label for="recipe-instructions">Инструкции:</label>
      <div id="recipe-instructions" *ngFor="let step of recipe.steps; let i = index">
        <label>Шаг {{i + 1}}:</label>
        <input type="text" name="step-{{i}}" [(ngModel)]="recipe.steps[i]" placeholder="шаг" required>
      </div>
      <button type="button" (click)="addStep()">Добавить шаг</button>
      <button *ngIf="recipe.steps.length > 1" type="button" (click)="removeStep()">Удалить шаг</button>
    </div>
    <div class="form-group">
      <label for="recipe-image">Фото:</label>
      <input type="file" id="recipe-image" name="recipe-image" (change)="onFileSelected($event)">
    </div>
    <div *ngIf="recipe.image" class="form-group">
      <img [src]="recipe.image" alt="Recipe Image">
    </div>
    <div class="form-buttons">
      <button type="submit">Добавить рецепт</button>
      <button type="button" (click)="cancel()">Отмена</button>
    </div>
  </form>
</div>
