<div class="add-recipe-form">
  <h2 class="form-title">Добавить рецепт</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="recipe-title">Название рецепта:</label>
      <input type="text" id="recipe-title" name="recipe-title" [(ngModel)]="recipe.title" required>
    </div>
    <div class="form-group">
      <label for="recipe-category">Категория:</label>
      <input type="text" id="recipe-category" name="recipe-category" [(ngModel)]="recipe.category" required>
    </div>
    <div class="form-group">
      <label for="recipe-description">Описание:</label>
      <textarea id="recipe-description" name="recipe-description" [(ngModel)]="recipe.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-ingredients">Ингредиенты:</label>
      <textarea id="recipe-ingredients" name="recipe-ingredients" [(ngModel)]="recipe.ingredients" required></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-instructions">Инструкции:</label>
      <textarea id="recipe-instructions" name="recipe-instructions" [(ngModel)]="recipe.instructions" required></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-image">Фото:</label>
      <input type="file" id="recipe-image" name="recipe-image" (change)="onFileSelected($event)">
    </div>
    <div class="form-group">
      <img [src]="recipe.image" alt="Recipe Image">
    </div>
    <div class="form-buttons">
      <button type="submit" (click)="onSubmit()">Добавить рецепт</button>
      <button type="button" (click)="cancel()">Отмена</button>
    </div>
  </form>
</div>
